@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/Vazir/Vazir.woff2') format('woff2'),
    url('/assets/fonts/Vazir/Vazir.woff') format('woff'),
    url('/assets/fonts/Vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/Vazir/Vazir-Bold.woff2') format('woff2'),
    url('/assets/fonts/Vazir/Vazir-Bold.woff') format('woff'),
    url('/assets/fonts/Vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/Vazir/Vazir-Light.woff2') format('woff2'),
    url('/assets/fonts/Vazir/Vazir-Light.woff') format('woff'),
    url('/assets/fonts/Vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/Vazir/Vazir-Medium.woff2') format('woff2'),
    url('/assets/fonts/Vazir/Vazir-Medium.woff') format('woff'),
    url('/assets/fonts/Vazir/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Vazir', sans-serif;
}

* {
  font-family: 'Vazir', sans-serif;

}
